.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login form{
    height:38vh;
    width: 22vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    border: none;
    border-radius: 25px;
}
.login form h2{
    color: white;
    margin-bottom: 10px;
}
.login form input{
    height: 12%;
    width: 70%;
    margin-top: 1rem;
}

input[type="submit"]{
    background-color:rgb(51, 144, 251) ;
    color: black;
}
input:disabled{
    background-color: grey;
    color: white;
    text-decoration: line-through;
}